.Container{       
    padding: 2%;
    gap: 30%;
    height: 50%;
    margin-left: 100px;
    
}

.headings{
    height: 20%;
    gap: 5%;
}


.header{
    font-size: 2rem;
    font-weight: bold;
}

.Boxes{     
    gap: 25px;
 
}

.topBoxes{        
    gap: 20px; 
   
}

.Box{      
    align-items: center;
    width: 300px;
    height: 60px;    
    padding: 1%;
    gap: 5%;    
    box-shadow: 0 0 1px  rgba(0, 0, 0, 0.5);
    background-color: rgb(253, 252, 252);

}

.bottomBoxes{        
    gap: 20px;     
   
}



mat-icon{    
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:#30b0e8;
    border: 2px solid;
    border-radius: 50%;
    border-color: transparent;
    color: white;
    
}  

.Container,.text,.Boxes,.topBoxes,.bottomBoxes,.Box,mat-icon{

    display: flex;

}

.topBoxes,.bottomBoxes,.Box{

    flex-direction: row;

}

.Container,.text,.Boxes{

    flex-direction: column;

}

.paragraph,.text{

    color: gray;
}


