<div class="Container">
    <div class="headings">
      <p class="header">Business Advice</p>
      <p class="paragraph">Problems trying to resolve the conflict between <br>
        the two major realms of classical physics, Newtonian mechanics</p>
    </div>
  
    <div class="Boxes">
      <div class="topBoxes">
        <div class="Box" *ngFor="let box of boxElements">
          <mat-icon>{{ box.icon }}</mat-icon>
          <div class="text">
            <span>{{ box.firstPart }}</span>
            <span>{{ box.secondPart }}</span>
          </div>
        </div>
      </div>
  
      <div class="bottomBoxes">
        <div class="Box" *ngFor="let box of boxElements">
          <mat-icon>{{ box.icon }}</mat-icon>
          <div class="text">
            <span>{{ box.firstPart }}</span>
            <span>{{ box.secondPart }}</span>           

          </div>
        </div>
      </div>
    </div>
  </div>
  