<div class="mainCont">
    <div class="business-advice">
      <h1><b>Business Advice</b></h1>
      <p>
        Problems trying to resolve the conflict between<br>
         the two major realms of classical physics: Newtonian mechanics.
      </p>
    </div>
  
  <div class="input-container">
    <div class="gg1">
    <div class="input-group">
   <input type="text" placeholder="Put The clients First">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Put The clients First">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Put The clients First">
    </div>
    </div>

    <div class="gg2">
    <div class="input-group">
      <input type="text" placeholder="Put The clients First">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Put The clients First">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Put The clients First">
    </div>
    </div>
  </div>
  
  <div class="buttons">
    <button class="btn btn-blue">Blue Button</button>
    <button class="btn btn-white">White Button</button>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  