.mainCont{
  padding: 2%;
  gap: 40px;
  margin-left: 100px;

}

.container{   
  gap: 50%;
  align-items: center; 
  
}

.leftSide,.nav {  
  gap: 10%;
  color:black;
}


.nav{
  color:gray;
}

.headings{
  font-size: x-large;
  font-weight: bold;
}

.right{  
  gap: 20px;  
  align-items: center;
}

.btn1{
  width: 130px;
  height: 40px;    
  border: none;  
  gap: 12px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  
}

.paragraph{  
  gap: 8px;
}

.content,.content1{
  font-size: 2.5rem;
  
  
}

.bottomButtons{ 
  gap: 1%;
}

.blueButton{      
  border: none;
}

.whiteButton{
  background: transparent;
  color:#30b0e8;   
  border: 1px solid;
  
}


.mainCont,.container,.leftSide, .nav,.right,.btn1,.paragraph,.bottomButtons{

  display: flex;
}

.bottomButtons,.btn1,.right,.leftSide, .nav,.container{

  flex-direction: row;

}

.mainCont,.paragraph{
  
  flex-direction: column;
}

.btn1,.blueButton{

  background-color:#30b0e8;; 

}

.whiteButton,.blueButton{

  border-radius: 48px;
  width: 130px;
  height: 35px; 

}

.right,.btn1,.blueButton{

  color: white;
}



