.mainCont{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 40px;

}

.headings{
  font-size: x-large;
  font-weight: bold;
}

.container{
  display: flex;
  gap: 50%;
  align-items: center;
  flex-direction: row;
}

.leftSide, .nav {
  display: flex;
  flex-direction: row;
  gap: 5%;
  color:black;
}



.right{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  align-items: center;
}

.btn1{
  width: 125px;
  height: 50px;
  background-color:#30b0e8;
  color: white;
  display: flex;
  flex-direction: row;
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 5px;
}

.paragraph{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.content{
  font-size: 2.2rem;
  font-weight: bold;
}

.header{
  gap: 1px;
}

.blueButton{
  background-color:#30b0e8;
  color: white;
  width: 130px;
  height: 35px;
  border-radius: 48px;
  border: none;
}

.whiteButton{
  background: transparent;
  color:#30b0e8;
  width: 120px;
  height: 35px;
  border-radius: 48px;
  border: 1px solid;
  
}

.bottomButtons{
  display: flex;
  flex-direction: row;
  gap: 1%;
}

