<mat-toolbar class="toolbar">
  <div class="left-section">
    <span class="logo">Freshfinance</span>
  </div>

  <div class="middle-section">
    <span>Home</span>
    <span>Product</span>
    <span>Pricing</span>
    <span>Contacts</span>
  </div>

  <div class="right-section">
    <a class="login-link" style="color: white;">Login</a>
    <button mat-button class="get-in-touch-button">Get in Touch &#10132;</button>
  </div>

  
</mat-toolbar>

<div class="content">
  <h1><b>Business Advisory<br>
     Services</b></h1>
  <p>Disaster recovery planning, business continuity<br>
     management, and disaster recovery.</p>
  <div class="button-container">
    <button class="blue-button">Get Quote Now</button>
    <button class="white-button">Learn More</button>
  
</div>


