<div class="mainCont">
  <div class="container">

    <div class="leftSide">
      <div class="headings">Freshfinance</div>
      <div class="nav">
        <b *ngFor="let item of navigationItems">
          <p>{{ item }}</p>
        </b>
      </div>
      
    </div>

    <div class="right">
      <div>Login</div>
      <div class="Icon">
        <button class="btn1">
        Get in Touch
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      </div>
    </div>
  </div>

  <div class="paragraph">
    <div class="header">
      <p class="content"><b>Business Advisory</b></p>
      <p class="content"><br>Services</p>
    </div>

    <p>
      Disaster recovery planning, business continuity<br>
      management, and disaster recovery.

    </p>

      <div class="bottomButtons">
        <button class="blueButton">Get Quote Now</button>
        <button class="whiteButton">Learn More</button>
      </div>
    
  </div>
