.mainCont{   
  padding: 2%;
  gap: 40px;
  margin-left: 100px;
  

}

.container{   
  gap: 50%;
   
  
}

.leftSide,.nav {  
  gap: 10%;
  color:black;
}


.nav{

  color:gray;
}

.headings{
  font-size: x-large;
  font-weight: bold;
  
}

.right{  
  gap: 20px;  
  
  
}

.btn1{
  width: 130px;
  height: 40px;    
  border: none;  
  gap: 12px;  
  border-radius: 5px;
  justify-content: center;
  
}

.paragraph{  
  gap: 8px;
}

.content,.content1{
  font-size: 40px;

  
  
}

.bottomButtons{ 
  gap: 1%;
}

.blueButton{      
  border: none;
}

.whiteButton{
  background: transparent;
  color:#30b0e8;   
  border: 1px solid;
  
}

.btn1,.blueButton{

  background-color:#30b0e8;; 

}

.whiteButton,.blueButton{

  border-radius: 48px;
  width: 130px;
  height: 35px; 

}

.right,.btn1,.blueButton{

  color: white;
}

.container,.right,.btn1{

  align-items: center;
    
}



