*body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;     
    width: 100%;
    
  }
  
  app-tool-bar {
    height: 60%;
    background-image: linear-gradient(to right, white, transparent), url('../assets/COVER1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top, center;
  }
  
  app-middle-bar {
    background-color: white;
    height: 40%;
  }

  
  